$timeInMilliseconds: 250ms;
[data-carouzelnxt] {
  & ::after,
  ::before {
    box-sizing: border-box;
  }
  button:not(:disabled),
  [type="button"]:not(:disabled),
  [type="reset"]:not(:disabled),
  [type="submit"]:not(:disabled) {
    cursor: pointer;
  }

  &[data-carouzelnxt-hidescrollbar] {
    [data-carouzelnxt-track] {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  &[data-carouzelnxt-vertical] {
    [data-carouzelnxt-track] {
      display: block;
      overflow-y: scroll;
      scroll-snap-type: y mandatory;
    }
  }
  [data-carouzelnxt-track] {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }

  .__carouzelnxt-group {
    display: flex;
    scroll-snap-align: center;
    scroll-snap-stop: always;
  }

  [data-carouzelnxt-slide] {
    background-color: lightgray;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
  }
}
