$timeInMilliseconds: 250ms;
[data-carouzelnxt] {
  & ::after,
  ::before {
    box-sizing: border-box;
  }
  button:not(:disabled),
  [type="button"]:not(:disabled),
  [type="reset"]:not(:disabled),
  [type="submit"]:not(:disabled) {
    cursor: pointer;
  }

  &[data-carouzelnxt-hidescrollbar] {
    [data-carouzelnxt-track] {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  [data-carouzelnxt-track] {
    display: flex;
    overflow: hidden;
  }

  [data-carouzelnxt-group] {
    display: flex;
    flex-direction: row;
  }

  [data-carouzelnxt-slide] {
    background-color: lightgray;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
  }

  &[data-carouzelnxt-vertical] {
    [data-carouzelnxt-track] {
      height: 400px;
      flex-direction: column;
    }
    [data-carouzelnxt-group] {
      flex-direction: column;
    }
    &[data-carouzelnxt-rtl] {
      [data-carouzelnxt-track] {
        flex-direction: column-reverse;
      }
      [data-carouzelnxt-group] {
        flex-direction: column-reverse;
      }
    }
  }

  &[data-carouzelnxt-rtl] {
    [data-carouzelnxt-track] {
      flex-direction: row-reverse;
    }
    [data-carouzelnxt-group] {
      flex-direction: row-reverse;
      scroll-snap-align: end;
    }
  }

  &.__carouzelnxt-scroll {
    [data-carouzelnxt-track] {
      overflow-x: scroll;
      scroll-behavior: smooth;
      scroll-snap-type: x mandatory;
    }
    [data-carouzelnxt-group] {
      scroll-snap-align: start;
      scroll-snap-stop: always;
    }
    &[data-carouzelnxt-vertical] {
      [data-carouzelnxt-track] {
        overflow-x: hidden;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
      }
    }
  }
}
