$timeInMilliseconds: 250ms;
[data-carouzelnxt] {
  & ::after,
  ::before {
    box-sizing: border-box;
  }
  button:not(:disabled),
  [type="button"]:not(:disabled),
  [type="reset"]:not(:disabled),
  [type="submit"]:not(:disabled) {
    cursor: pointer;
  }
}
